.wrapper {
	grid-area: attributes;
}

.attribute {
	padding: 0.5rem 0.25rem;
	text-align: center;
}

.attributeWrapper + .attributeWrapper {
	margin-top: 0.5rem;
}

.attributeMod {

}

.attributeValue {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}

.attributeValue input {
	max-width: 40px;
	text-align: center;
}

.attributeName {

}